# Challenge State of Data

### Sobre os dados

O questionário foi dividido em 8 partes, e dentro de cada uma das partes temos as perguntas e opções de escolha.

- Parte 1 - Dados demográficos
- Parte 2 - Dados sobre carreira
- Parte 3 - Desafios dos gestores de times de dados
- Parte 4 - Conhecimentos na área de dados
- Parte 5 - Objetivos na área de dados
- Parte 6 - Conhecimentos em Engenharia de Dados/DE
- Parte 7 - Conhecimentos em Análise de Dados/DA
- Parte 8 - Conhecimentos em Ciências de Dados/DS

Cada pergunta é dividida em Parte, Letra da Pergunta, Número da Opção escolhida
- Exemplo: P3a_1 = Parte 3, pergunta (a), opção (1)

## 0. Configuração do ambiente

### 0.1. Bibliotecas

In [1]:
import pandas as pd
import numpy as np

### 0.2. Dados

In [4]:
data = pd.read_csv('/kaggle/input/state-of-data-2022/State_of_data_2022.csv')

## 1. Visão geral do dataframe

In [6]:
# número de linhas e de colunas

data.shape

(4271, 353)

In [44]:
# nomes das colunas

colunas = data.columns.to_frame(name = 'lista').reset_index(drop = True)


colunas['parte'] = colunas['lista'].apply(lambda x: x[3])
colunas['pergunta'] = colunas['lista'].apply(lambda x: x[5])
colunas['opcao'] = colunas['lista'].apply(lambda x: x[7])
colunas['opcao2'] = colunas['lista'].apply(lambda x: x[8])

colunas

,lista,parte,pergunta,opcao,opcao2
0,"('P0', 'id')",0,",",',i
1,"('P1_a ', 'Idade')",1,a,',","
2,"('P1_a_1 ', 'Faixa idade')",1,a,1,
3,"('P1_b ', 'Genero')",1,b,',","
4,"('P1_c ', 'Cor/raca/etnia')",1,c,',","
...,...,...,...,...,...
348,"('P8_d_7 ', 'Realizando construções de dashboa...",8,d,7,
349,"('P8_d_8 ', 'Utilizando ferramentas avançadas ...",8,d,8,
350,"('P8_d_9 ', 'Criando e dando manutenção em ETL...",8,d,9,
351,"('P8_d_10 ', 'Criando e gerenciando soluções d...",8,d,1,0
352,"('P8_d_11 ', 'Criando e mantendo a infra que m...",8,d,1,1

In [43]:
colunas['pergunta'].value_counts()

b    78
d    57
c    43
a    39
f    34
i    28
g    21
h    15
o    11
l     9
e     4
k     2
j     2
m     2
r     1
1     1
s     1
,     1
q     1
p     1
n     1
3     1
Name: pergunta, dtype: int64

In [9]:
# head

data.head()

,"('P0', 'id')","('P1_a ', 'Idade')","('P1_a_1 ', 'Faixa idade')","('P1_b ', 'Genero')","('P1_c ', 'Cor/raca/etnia')","('P1_d ', 'PCD')","('P1_e ', 'experiencia_profissional_prejudicada')","('P1_f ', 'aspectos_prejudicados')","('P1_g ', 'vive_no_brasil')","('P1_i ', 'Estado onde mora')",...,"('P8_d_2 ', 'Coletando e limpando os dados que uso para análise e modelagem.')","('P8_d_3 ', 'Entrando em contato com os times de negócio para definição do problema, identificar a solução e apresentação de resultados.')","('P8_d_4 ', 'Desenvolvendo modelos de Machine Learning com o objetivo de colocar em produção em sistemas (produtos de dados).')","('P8_d_5 ', 'Colocando modelos em produção, criando os pipelines de dados, APIs de consumo e monitoramento.')","('P8_d_6 ', 'Cuidando da manutenção de modelos de Machine Learning já em produção, atuando no monitoramento, ajustes e refatoração quando necessário.')","('P8_d_7 ', 'Realizando construções de dashboards em ferramentas de BI como PowerBI, Tableau, Looker, Qlik, etc.')","('P8_d_8 ', 'Utilizando ferramentas avançadas de estatística como SAS, SPSS, Stata etc, para realizar análises.')","('P8_d_9 ', 'Criando e dando manutenção em ETLs, DAGs e automações de pipelines de dados.')","('P8_d_10 ', 'Criando e gerenciando soluções de Feature Store e cultura de MLOps.')","('P8_d_11 ', 'Criando e mantendo a infra que meus modelos e soluções rodam (clusters, servidores, API, containers, etc.)')"
0,zzqzz3l9ily8nuo2m7wyzzqzz3w48o96,39.0,35-39,Masculino,Parda,Não,Não acredito que minha experiência profissiona...,NaN,True,Distrito Federal (DF),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,zzls2oftfn9law393oezzls2ofhvfpzd,32.0,30-34,Masculino,Parda,Não,"Sim, acredito que a minha a experiência profis...",Aprovação em processos seletivos/entrevistas,True,Pará (PA),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,zzdwqzfqqp1ypc7ps6m0hzzdwqz292yi,53.0,50-54,Masculino,Branca,Não,NaN,NaN,True,Distrito Federal (DF),...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,zzbqh3uy7yk7k9qmkzzbqtb4s9faqspl,27.0,25-29,Masculino,Branca,Não,NaN,NaN,True,Minas Gerais (MG),...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,zzaf1m95yan929rb94wzzaf1mekhvhpg,46.0,45-49,Feminino,Branca,Não,Não acredito que minha experiência profissiona...,NaN,True,Pará (PA),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 1. Sanity check

## 2. Análise exploratória